/* Here we can set styles for this lab page that we don't want to effect others pages */
body {
  background-image: url("img/abc.jpg");
  background-repeat: no-repeat;
  background-size : 1550px;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: 'Lucida Sans Unicode';
  font-size: xx-large;
  text-align: center;
  color:#1d1d1d;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 1px;
  word-spacing: 5px;
  font-size: 200%;
  border-bottom: 4px solid#1d1d1d;
  padding-bottom: 10px;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  background-color: #1fe4fe;
}


ul {
  text-align: center;
  display: block;
  list-style-type: circle;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    background-color: #ffffff;
  }
  #js-output {
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 70px;
    margin-right: 70px;
    border: solid 0px #000000;
    background-color: #ffffffde;
    font-family: 'Lucida Sans Unicode';
    font-size: 175%;
  }

  .title, .description, .exitkeys, p {
    text-align: center;
  }

  .room-image {
    /*margin: 10px;
    max-width: 500px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  .exits{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
